<div class="mb-3">
    <label for="filterText" class="form-label">Renk ara</label>
    <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="Renk adı girin">
</div>  
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col"></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let color of colors | filterColorPipe:filterText" >
            <td>{{color.colorName}}</td>
            <td class="col-md-2"><button routerLink = "/cars/color/{{color.colorId}}" type="button" class="btn btn-xs btn-success">Araçları göster</button></td>
        </tr>
    </tbody>
</table>
  