<div class="row image-section">
  <div *ngFor="let image of carImages" class="col-md-4 img-gallery">
    <img
      [src]="getImagePath(image.imagePath)" 
      class="img-fluid" 
      [alt]="getImagePath(image.imagePath)"
    />
  </div>
</div>
<ul *ngIf="carDto" class="list-group list-group-flush">
  <li class="list-group-item">Id: {{ carDto.id }}</li>
  <li class="list-group-item">Brand Name: {{ carDto.brandName }}</li>
  <li class="list-group-item">Color Name: {{ carDto.colorName }}</li>
  <li class="list-group-item">Model Year: {{ carDto.modelYear }}</li>
  <li class="list-group-item">Description: {{ carDto.description }}</li>
  <li class="list-group-item">Daily Price: {{ carDto.dailyPrice }}</li>
</ul>
<div class="btn-goback">
  <button routerLink="/cars" type="button" class="btn btn-xs btn-success">
    Go Back
  </button>
</div>