<div *ngIf="dataLoaded==false" class="spinner-border text-primary" role="status">
  <span class="visually-hidden">Loading...</span>
</div>

<div class="mb-3">
  <label for="filterText" class="form-label">Araç ara</label>
  <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="Araç açıklaması girerek arama yapabilirsiniz">
</div>
<div *ngIf="filterText" class="alert alert-success">
  {{filterText}} aradınız.
</div>

<h4 *ngIf="dataLoaded==true">Araç Listesi</h4>
<table *ngIf="dataLoaded==true" class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Araç Numarası</th>
      <th scope="col">Marka Kodu</th>
      <th scope="col">Renk Kodu</th>
      <th scope="col">Model Yılı</th>
      <th scope="col">Günlük Fiyat</th>
      <th scope="col">Açıklama</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let car of cars | filterCarPipe:filterText">
      <td>{{ car.id }}</td>
      <td>{{ car.brandId }}</td>
      <td>{{ car.colorId }}</td>
      <td>{{ car.modelYear }}</td>
      <td>{{ car.dailyPrice }} TL</td>
      <td>{{ car.description }}</td>
      <td>
        <button
          routerLink = "/cars/detail/{{car.id}}"
          type="button"
          class="btn btn-xs btn-success"
          (click)="getCarDetails(car.id)"
        >
          Araç Detayına Git
        </button>
      </td>
    </tr>
  </tbody>
</table>