<body class="text-center">
    <main class="form-signin">
        <form [formGroup]="userInfoEditForm">
            <h1 class="h3 mb-4 fw-normal"> Edit Profile </h1>
            <div class="form-floating mb-2">
                <input type="email" formControlName="email" class="form-control" id="email" placeholder="name@example.com" readonly>
                <label for="email">Email address</label>
            </div>
            <div class="form-floating mb-2">
                <input type="text" formControlName="firstName" class="form-control" id="firstName" placeholder="First Name">
                <label for="firstName">First Name</label>
            </div>
            <div class="form-floating mb-2">
                <input type="text" formControlName="lastName" class="form-control" id="lastName" placeholder="Last Name">
                <label for="lastName">Last Name</label>
            </div>
            <button class="w-75 btn btn-lg btn-secondary mt-3" type="submit" (click)="updateUserInfos()"> Save </button>
        </form>
      <div class="content my-lg-5">
        <form [formGroup]="changePasswordForm">
            <h1 class="h3 mb-4 fw-normal"> Reset Password </h1>
                <div class="form-floating mb-2">
                    <input type="password" formControlName="oldPassword" class="form-control" id="oldPassword" placeholder="oldPassword">
                    <label for="oldPassword">Old Password</label>
                </div>
                <div class="form-floating mb-2">
                    <input type="password" formControlName="newPassword" class="form-control" id="newPassword" placeholder="newPassword">
                    <label for="newPassword">New Password</label>
                </div>
            <button class="w-75 btn btn-lg btn-secondary mt-3" type="submit" (click)="updateUserPassword()"> Change </button>
            <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
        </form>
      </div>
    </main>
</body>
